body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: rgb(199, 214, 238);
    position: relative;
    width: 100vw;
    height: 100vh;
}

#player {
    background-color: rgb(174, 61, 135);
    position: absolute;
}